.doctorCard img{

}

.cardName{
  background-color: #efefef;
}

.cardTop{
  padding: 5px;
  background-color: #dfdfdf;
}

.cardBio{
  padding: 5px;
  background-color: #cfcfcf;
}

.searchForm {
  margin-bottom: 20px;
}
