.doctorCard img{

}

.cardName{
  background-color: #efefef;
}

.cardTop{
  padding: 5px;
  background-color: #dfdfdf;
}

.cardBio{
  padding: 5px;
  background-color: #cfcfcf;
}

.searchForm {
  margin-bottom: 20px;
}

.topBar {
  color: white;
  background-size: cover;
  background-image: url('https://media.giphy.com/media/buVz4N0U5xIas/giphy.gif');
}
